:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --pink: #ffd3dd;
  --lilac: #cca1c9;
  --mauve: #f3a0ad;
  --sky: #bed1e3;
  --denim: #92a1c3;
  color-scheme: light dark;
  color: #686868;
  /* text-shadow:  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
  background-color: var(--pink);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
.Banner {
  display: flex;
  justify-content: space-evenly;  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-right: 300px;
}

h3 {
  font-size: 1.5em;
  padding: 20px;
  margin: 0px 10px;
}

#about-me{
background-color: var(--lilac);
border-radius: 15px 15px 0px 0px;

}

#portfolio{
  background-color: var(--mauve);
  border-radius: 15px 15px 0px 0px;
}

#contact-me{
  background-color: var(--sky);
  border-radius: 15px 15px 0px 0px;
}

#resume{
  background-color: var(--denim);
  border-radius: 15px 15px 0px 0px;
}



/* :root {
  --pink: #ffd3dd;
  --lilac: #cca1c9;
  --mauve: #f3a0ad;
  --sky: #bed1e3;
  --denim: #92a1c3;
background-color: var(--pink);
} */