:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --pink: #ffd3dd;
  --lilac: #cca1c9;
  --mauve: #f3a0ad;
  --sky: #bed1e3;
  --denim: #92a1c3;
  color-scheme: light dark;
  /* color: black; */
  color: #686868;
  background-color: var(--pink);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  display: flex;
}

#banner {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-right: 300px;
}

h3 {
  font-size: 1.5em;
  padding: 20px;
  margin: 0px 10px;
}

#about-me {
  background-color: var(--lilac);
  border-radius: 15px 15px 0px 0px;
}

#projects {
  background-color: var(--mauve);
  border-radius: 15px 15px 0px 0px;
}

#contact-me {
  background-color: var(--sky);
  border-radius: 15px 15px 0px 0px;
}

#resume {
  background-color: var(--denim);
  border-radius: 15px 15px 0px 0px;
}
